* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
}

img {
  position: relative;
  width: 100%;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #12644a;
  color: #8acdb8;
  z-index: 2;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.contact {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
  color: #8acdb8;
}

.text {
  text-align: center;
  z-index: 10;
}

.top {
    position: relative; 
    width: 100%;
 }


.text h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  font-size: 7em;
  line-height: 2em;
  letter-spacing: 0em;
}

.text h2 {
  position: absolute;
  width: 100%;
  font-size: 2em;
  line-height: 1em;
  letter-spacing: .2em;
  font-family: 'Jost', serif;
  padding: 20px;
}

.text p {
  font-family: Tahoma, sans-serif;
  font-size: 2em;
  letter-spacing: .3em;
}

.text a {
  font-family: Tahoma, sans-serif;
  font-size: 2em;
  letter-spacing: .3em;
  text-decoration: none;
  color: #8acdb8;
}

.images {
  position: absolute;
  height: 200px;
}

.social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
  width: 61px;
}

.social li a {
  display: inline-block;
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

@media(max-width: 890px) {
  .text h1 {
    font-size: 4em;
  }

  .text h2 {
    font-size: 1.5em;
    text-align: center;
  }
}

@media(max-width: 798px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h1 {
    font-size: 2em;
  }

  .text h2 {
    font-size: 1.2em;
  }

  .text a {
    font-size: 1rem;
  }

  .text p {
    font-size: 1rem;
  }
}

/*

* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}

*/