.showcase {
    background-image: url("pictures/campic.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   }

.text h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.text a {
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 10;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

p {
    text-align: center;
    font-size: 1.5em;
    line-height: 3em;
}

