* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(29, 57, 90);
  color: #fff;
  z-index: 2;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.contact {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  letter-spacing: 4px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  position: relative;
  display: block;
  margin: 0 auto;
  z-index: 10;
}

.text h1 {
  font-size: 3.5em;
  line-height: 2em;
  letter-spacing: 1em;
  font-family: 'Cormorant Garamond', serif;
}

.text h2 {
  font-size: 1.5em;
  line-height: 1em;
  letter-spacing: .4em;
  font-family: 'Cormorant Garamond', serif;
}

.text h2.phototext {
  text-align: right;
  margin-right: 2em;
}

.social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
  width: 61px;
}

.social li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

@media(max-width: 798px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h1 {
    font-size: 1.8em;
  }

  .text h2 {
    font-size: 1.2em;
    text-align: center;
  }
}

/*

* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}

*/